@font-face {
  font-family: daisy;
  src: url("fonts/TheSkinny.otf");
}

body {
  background-image: url("light_grey.png");
  font-family: sans-serif;
  font-family: daisy;
  font-size: 1.5em;
}

/*HEADER GOES HERE*/
.header {
  /*background: rgba(0, 0, 0, 0.2);*/
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 200px;
  padding: 10px;
  position: relative;
  border-radius: 10px;
  display: block;
}

h1 {
  left: 0;
  top: 2px;
  position: absolute;
  width: 100%;
  font-size: 4em;
  margin-left: 20px;
  clear: both;
  box-sizing: border-box;
}

/*NAVIGATION BAR*/
.navbar {
  position: absolute;
  display: block;
  overflow: auto;
  top: 2px;
  right: 5px;
}
.navbar li {
  display: inline;
  list-style: none;
  padding: 10px;
  font-size: 1.4em;
}
.navbar li:hover {
  color: red;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

.display {
  margin: 1%;
}
.fa-shopping-bag {
  margin-left: 50%;
}
img {
  border-radius: 4%;
}
.product {
  position: absolute;
  width: 100%;
}
.product::after {
  color: red;
  content: "Limited stock!";
  font-size: 1.0em;
  font-weight: bold;
  margin-left: -10%;
  position: relative;
}

/*PRODUCT INFORMATION SECTION*/
.product img {
  width: 58%;
}
.product-purchase {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  float: right;
  margin: 12px;
  padding: 15px;
  width: 35%;
}
.name {
  font-size: 2em;
}
.brand {
  color: gray;
  margin: 4px;
}
.price {
  font-size: 1.5em;
  margin-top: 3px;
  margin-bottom: 3px;
}
.add-to-bag {
  border-radius: 5px;
  font-weight: lighter;
  font-family: daisy;
  font-size: 1em;
  width: 100%;
  text-align: center;
}

.img-gallery {
  position: absolute;
  vertical-align: middle;
}

.img-gallery img {
  float: left;
  margin: 5px;
  width: 21%;
  height: auto;
  box-sizing: border-box;
  display: block;
}

.product-info {
  clear: both;
  position: relative;
  text-align: justify;
  display: block;
  padding: 2px;
  width: 80%;
}

/*SIZE TABLE*/
table {
  background: lightgray;
  border-collapse: collapse;
  color: white;
  position: absolute;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}
td {
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 3px;
  padding-bottom: 3px;
}
th {
  background: darkgray;
  padding-top: 5px;
  padding-bottom: 5px;
}
tr:nth-child(even) {
  background: darkgray;
}
